{% extends "layout.html.twig" %}
{% block scroll_nav %}
{% endblock %}
{% block body %}
{{ parent() }}

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<img class="posrigth" src="{{ asset('public/img/logo.png') }}" alt="logo">
			<img  class="logocomedog" src="{{ asset('public/img/comedog.png') }}"><img class="titlecome" src="{{ asset('public/img/titcome.png') }}">
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="liner"></div>
	
		<div class="row">
		<div class="col-md-6">
				<div class="col-md-6">
					<table>
						<tr>
				  		<td><label>Nombre:</label></td>
				  		<td><span> Cristian Arbelaez Duque. </span></td>
						</tr>
				 
						<tr>
				  		<td><label>Email:</label></td>
				  		<td><span> <a "email me">cristinaarbelaezcsp@hotmail.com</a></span></td>
						</tr>
				 
						<tr>
				  		<td><label>Tel:</label></td>
					  	<td><span> 314 883 6159.</span></td>
						</tr>
			  		</table>
				</div>
				<div class="col-md-6">
					<table>
						<tr>
				  		<td><label>Nombre:</label></td>
				  		<td><span> Katheryn Tatiana Patiño. </span></td>
						</tr>
				 
						<tr>
				  		<td><label>Email:</label></td>
				  		<td><span> <a "email me">katheryn_tatiana@hotmail.com</a></span></td>
						</tr>
				 
						<tr>
				  		<td><label>Tel:</label></td>
					  	<td><span> 316 787 3734.</span></td>
						</tr>
			  		</table>
				</div>
				<div class="col-md-6">
					<table>
						<tr>
				  		<td><label>Nombre:</label></td>
				  		<td><span> Juliana Andrea Bedoya. </span></td>
						</tr>
				 
						<tr>
				  		<td><label>Email:</label></td>
				  		<td><span> <a "email me">Julisbedoya0612@gmail.com</a></span></td>
						</tr>
				 
						<tr>
				  		<td><label>Tel:</label></td>
					  	<td><span>320 775 6822</span></td>
						</tr>
			  		</table>
				</div>
				<div class="col-md-6">
					<table>
						<tr>
				  		<td><label>Nombre:</label></td>
				  		<td><span>Carlos José Ángel</span></td>
						</tr>
				 
						<tr>
				  		<td><label>Email:</label></td>
				  		<td><span> <a "email me">xicodeliacj@hotmal.com</a></span></td>
						</tr>
				 
						<tr>
				  		<td><label>Tel:</label></td>
					  	<td><span>310 441 6976</span></td>
						</tr>
			  		</table>
				</div>
				<div class="col-md-6">
					<table>
						<tr>
				  		<td><label>Nombre:</label></td>
				  		<td><span>Gloria Cristina Valencia Isaza</span></td>
						</tr>
				 
						<tr>
				  		<td><label>Email:</label></td>
				  		<td><span> <a "email me">soporte@systemlife.com.co</a></span></td>
						</tr>
				 
						<tr>
				  		<td><label>Tel:</label></td>
					  	<td><span>310 519 3887</span></td>
						</tr>
			  		</table>
				</div>
				<div class="col-md-6">
					<table>
						<tr>
				  		<td><label>Nombre:</label></td>
				  		<td><span>Leonela Serna Beltran</span></td>
						</tr>
				 
						<tr>
				  		<td><label>Email:</label></td>
				  		<td><span> <a "email me">leonelaserna@gmail.com</a></span></td>
						</tr>
				 
						<tr>
				  		<td><label>Tel:</label></td>
					  	<td><span> 314 883 6159.</span></td>
						</tr>
			  		</table>
				</div>
     	</div>
		<div class="col-md-6">
			  <div class="contenmap" id="mymap"></div>
     	</div>
	</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARyp3ONt4Ax4J7JBBC8bFggOp4zntwd-s&callback=initMap">
    </script>
{% endblock %}