{% extends "layout.html.twig" %}
{% block body %}
{{ parent() }}

	<div class="liner"></div>
	<p>
	<div class="back">
	<div class="row margin">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container0">
	<div class="ws_images"><ul>
		<li><img src="{{ asset('public/data0/images/mision.png') }}" alt="Nuestro objetivo" title="Nuestro objetivo" id="wows0_0"/></li>
		<li><a href="http://wowslider.com/vi"><img src="{{ asset('public/data0/images/bn2.jpg') }}" alt="bootstrap carousel" title="¡Adopta uno de nuestros peluditos !..." id="wows0_1"/></a></li>
		<li><img src="{{ asset('public/data0/images/parafondodepantalla2.jpg') }}" alt="Para que comprar, si hay tantos que necesitan un hogar" title="Para que comprar, si hay tantos que necesitan un hogar" id="wows0_2"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Nuestro objetivo"><span><img src="{{ asset('public/data0/tooltips/mision.png') }}" alt="Nuestro objetivo"/>1</span></a>
		<a href="#" title="¡Adopta uno de nuestros peluditos !..."><span><img src="{{ asset('public/data0/tooltips/bn2.jpg') }}" alt="¡Adopta uno de nuestros peluditos !..."/>2</span></a>
		<a href="#" title="Para que comprar, si hay tantos que necesitan un hogar"><span><img src="{{ asset('public/data0/tooltips/parafondodepantalla2.jpg') }}" alt="Para que comprar, si hay tantos que necesitan un hogar"/>3</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wowslideshow</a> by WOWSlider.com v8.7</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="{{ asset('public/engine0/wowslider.js') }}"></script>
	<script type="text/javascript" src="{{ asset('public/engine0/script.js') }}"></script>
	<!-- End WOWSlider.com BODY section --></div>
	<div class="col-md-1"> </div>
	</div>
	</div>
	<section>
		<div class="row margin"><div class="col-md-1"></div><div class="col-md-10"> <hr></div>
		<div class="col-md-1"></div>

	<div class="row margin">
		
		<div class="col-md-1"></div>
		<div class="col-md-10">
			
			<div class="col-lg-6">
			<div class="sectionstile"> 
          <img class="img-circle" src="{{ asset('public/img/tpc.png') }}" alt="Generic placeholder image" width="140" height="140">
          <h2 class="titulosection">Tapitas Plastica</h2>
          <p class="textjusti">Con la recolección de tapas plásticas no solo colaboramos para comprar el cuido de los animales sin hogar, si no quede de  igual manera estamos ayudamos al cuidado y protección del medio ambiente reciclando estos objetos que tarada en promedio más de  100 años en proceso de descomposición.</p>
          <p><a class="btn btn-primary" href="{{ path('pc_fundation_tapitas')}}" target="_blank" role="button" id="ventemerg">Donde depositar »</a></p>
        </div></div>

        <div class="col-lg-6">
        	<div class="sectionstile">
          <img class="img-circle" src=" {{ asset('public/img/comedog.png') }}" alt="Generic placeholder image" width="140" height="140">
          <h2 class="titulosection">Comedogs armenia</h2>
          <p class="textjusti">concebido como una iniciativa personal para promover el bienestar de nuestros amigos caninos, debido a la gran acogida nacional nos animamos y queremos convertirnos en una gran comunidad de apoyo sin animo de lucro, por esta razón continuamos con nuestro objetivo integral y estamos avanzando en diferentes frentes para facilitar la gestión de ComeDog.</p>

          <p><a class="btn btn-primary" href="{{ path('pc_fundation_comedogs')}}" target="_blank" role="button" id="ventemerg2" >ComeDog´s Armenia »</a></p>
        </div></div>
				
        </div> 
       <div class="col-md-1"></div>    
	</div>

		<div class="row margin"><div class="col-md-1"></div><div class="col-md-10"> <hr></div>
		<div class="col-md-1"></div>
		<div class="row margin">
        <div class="col-md-1"></div>
		<div class="col-md-5">
			<h3 class="titulosection"><img src="{{asset('public/img/mn.png')}}" alt="">&nbsp;<b> Normas de proteción animal </b>&nbsp;</b><img src="{{asset('public/img/m.png')}}" alt=""></h3>
			<p class="textjusti">El hecho de reconocer que los animales ya no sean considerados cosas dentro del código civil  en su artículo 655 donde los declaran como bienes muebles y  que sean reconocidos como seres sintientes abre las puertas para que los derechos de los animales sean tenidos en cuenta  en nuestro país, que los casos de maltrato animal no se quede en la impunidad y sean ejecutadas multas económicas que van desde 5 a 50 salarios mínimos mensuales legales vigentes y penas que van de 12 a 36 meses de cárcel, con agravantes punitivos</p>
			
			<p class="text-justify">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magnaDonec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna</p> <br>
			</div>
			<div class="col-md-5">
		<img  src= "{{ asset('public/img/norma.png') }}"  alt= "..."  class= "tdlg img-responsive" > </div>

		<div class="col-md-1"></div>
		</div>

		<div class="row margin"><div class="col-md-1"></div><div class="col-md-10"> <hr></div>
		<div class="col-md-1"></div></div>
		<div class="row margin">
        <div class="col-md-1"></div>
        <div class="col-md-5">
		<img  src= "{{ asset('public/img/app.png') }}"  alt= "..."  class= " img-responsive img-thumbnail" > </div>
        <div class="col-md-5">
			<h3 class="titulosection"><img src="{{asset('public/img/mn.png')}}" alt="">&nbsp;<b> Aplicaion Movil </b>&nbsp;</b><img src="{{asset('public/img/m.png')}}" alt=""></h3>
			<p class="textjusti">La fundación patitas callejera ahora cuenta con una aplicación móvil para facilitar el acceso a todos nuestros colaboradores.</p>
			<p class="textjusti">El auge de la portabilidad y la importancia que ha tomado  las aplicaciones móviles durante los últimos años. Nos ha motivado a mejorar nuestro servicio y que su acceso sea mucho más fácil  y rápido. En nuestra aplicación usted podrá estar informado de los próximos eventos a realizar, ver al catálogo de mascotas en adopción y además una gran novedad que traemos para usted es el reporte de pérdida y localización de mascotas extraviadas.  </p>
			<p class="textjusti">Si usted tiene un smartphone u otro tipo de dispositivo móvil, puede adquirir total mente gratis nuestra aplicación </p>
			<br>
			<button type="button" class="playstile btn btn-primary btn-lg btn-block"> <img class="simg" src="{{ asset('public/img/play1.png') }}" alt=""> Google Play</button>
			<br>

		</div>
			
		<div class="col-md-1"></div>
		</div>
		</section>

{% endblock %}
		