{% extends "layout.html.twig" %}
{% block scroll_nav %}
{% endblock %}

{% block body %}
{{ parent() }}

<div class="liner"></div>
  <br>
<section>
  <div class="row">
    <div class="col-md-1"></div>
    <div class=" bagraundfd col-md-10">
      <div class="col-md-6">
      <img class="imgessc img-responsive" src="{{asset('public/img/esc.png')}}" alt=""> 
    </div>
    <div class="col-md-6">
      <h2><b>La Fundación Patitas Callejereas</b></h2>
      <br><p class="textjusti">La fundación patitas callejeras es una organización sin ánimo de lucro, que busca brindar una solución efectiva y pertinente a la problemática de masificación de animales domésticos en estado de abandono, también realiza jornadas de donación, adopción, concientización y tenencia responsable de mascotas, esta institución lleva como misión reducir la población de animales callejeros empleando cirugías de esterilización como único método viable para controlar la sobrepoblación. Asimismo realizan labores de vacunación y desparasitación asegurando que estos no propaguen enfermedades que representen un peligro sanitario para la sociedad y de tal modo Asintiendo la oportunidad a la vida.</p><br>
    </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
<div class="container">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="paddinnot panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <img  class="nsfundation img-responsive" src="{{asset('public/img/mision.png')}}" alt="">
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-9">
            <p class="textjusti">
               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
             </p>
          </div> 
          <div class="col-md-3">
            <img src="{{asset('public/img/n2.png')}}" class="paricon img-responsive" alt="misión org">
          </div>   
        </div> 

        </div>
      </div>
    </div>
  
  <div class="panel panel-default">
    <div class="paddinnot panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <img src="{{asset('public/img/vision.png')}}" class="nsfundation img-responsive" alt="misión org">
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <img src="{{asset('public/img/vis.PNG')}}" class="paricon img-responsive" alt="misión org">
          </div> 
          <div class=" col-md-9">
            <p class="textjusti">
               Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
             </p>
          </div> 
            
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
</div>


<div class="col-md-1"></div>
</div>
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

      <div class="col-md-6">
        <div class="panel-group">
          <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
       <b>Contactenos</b><br>
    </h4>
  </div>
      <div class="panel-body">
        <br>
        <dl class=" textjusti dl-horizontal">
            <dt><b>representante:</b></dt>
            <dd><b>Dariana Martínez</b></dd>
            <dt>Cargo:</dt>
            <dd>Vocera</dd>
            <dt>Teleono:</dt>
            <dd>(57) + 096: 743 1212</dd>
            <dt>Correo electronico:</dt>
            <dd><a href="##" "email me">DarianaM@fund.patitasCallejeras.com</a></dd>
            <br>
          </dl>
          <dl class="textjusti dl-horizontal">
            <dt><b>representante:</b></dt>
            <dd><b>Dariana Martínez</b></dd>
            <dt>Cargo:</dt>
            <dd>Vocera</dd>
            <dt>Teleono:</dt>
            <dd>(57) + 096: 743 1212</dd>
            <dt>Correo electronico:</dt>
            <dd><a href="##" "email me">DarianaM@fund.patitasCallejeras.com</a></dd>
            <br>
          </dl>
          <dl class=" textjusti dl-horizontal">
            <dt><b>representante:</b></dt>
            <dd><b>Dariana Martínez</b></dd>
            <dt>Cargo:</dt>
            <dd>Vocera</dd>
            <dt>Teleono:</dt>
            <dd>(57) + 096: 743 1212</dd>
            <dt>Correo electronico:</dt>
            <dd><a href="##" "email me">DarianaM@fund.patitasCallejeras.com</a></dd>

          </dl>
          </div>
    </div>
    </div>
    </div>
    <div class="col-md-6">
          <br>
         <div class="mapfund" id="mymapUb"></div>
    </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
 {{ parent() }}
 	<script async defer
      src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyARyp3ONt4Ax4J7JBBC8bFggOp4zntwd-s&callback=initMap') }}">
    </script>
 <script src="{{ asset('public/js/ubication.js') }}"></script>
 {% endblock %}