<footer class=" backfooter margin">
			<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="text-cente">
			<a href="https://www.facebook.com/"  type="button"><img src="{{asset('public/img/r11.png')}}" class="footwo" alt="facebook"></a>
	         <a href="https://twitter.com/?lang=es"  type="button"><img src="{{asset('public/img/r21.png')}}" class="footwo" alt="twiter"></a>
	         <a href="https://www.instagram.com/" type="button" ><img src="{{asset('public/img/r31.png')}}" class="footwo" alt="instagram"></a><br>
	         <div class="pagin">
	         	<ul class="list-inline">
	         		<li>
	         			<a href="{{ path('pc_fundation_index')}}"  type="button">Inicio &nbsp;</a><b>|</b>	
	         		</li>
	         		<li>
	         			<a href="{{ path('pc_fundation_adoptar')}}"  type="button">Adoptar &nbsp;</a><b>|</b>	
	         		</li>
	         		<li>
	         			<a href="{{path('pc_fundation_eventos')}}" type="button">Eventos &nbsp;</a><b>|</b>
	         		</li>
	         		<li>
	         			<a href="{{ path('pc_fundation_nosotros')}}"   type="button">Nosotros &nbsp;</a>	
	         		</li>
	         	</ul>
	         </div>
	         <p> Fundación Patitas Callejeras, Org.</p>  
	         <br>
				</div>
				</div>
			<div class="col-md-1"></div>
			</div>
			<div class=" colfotter row">
				
				<div class="col-md-1"></div>
				<div class=" positin col-md-10">
					  <p><font><font> copyright © 2016. Template: Hainower & Steven </font></font></p>	
				</div>
				<div class="col-md-1"></div>
				
			</div>
</footer>