{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block capa %}

      <div>
        <h1 class="coloralert"><a href="{{ path('pc_admin_jornada_censo')}}" type="button" class="pull-left buttonborder btn btn-default"> <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>&nbsp;regresar</a> &nbsp;Información del Censo en {{ meeting.address }}
        <a href="{{ path('pc_admin_esterilizacion_add',{'meetingId' : meeting.id})}}" type="button" onclick="window.open(this.href, this.target,'width=360,height=500'); return false" class="buttonborder btn btn-default pull-right"data-toggle="tooltip" data-placement="top" title="Nueva jornada">jornada Esterilizar</a>
        </h1>
        
      <div class="sectionstile">
              <div class="row">
              
              <div class="textjusti col-xs-8 col-md-4 col-lg-5">
                <table class="table table-striped">
                <thead>
                  <br>
                    <tr>
                      <th>Zona:</th>
                      <th>{{meeting.address}}</th>
                    </tr>
                    <tr>
                      <th>fecha:</th>
                      <th>{{meeting.createdAt | date("m/d/Y")}}</th>
                    </tr>
                </thead>
                </table> <!-- table de nombre zona. -->
                <br>
                 <a href="{{ path('pc_admin_jornada_censo_agregar', {'meetingId' : meeting.id} )}}" id="fdfdfd" class="buttonborder  btn btn-info">Agregar datos »</a>
              </div>
             <div class="col-md-1 col-lg-1"></div>
             <div class="col-xs-4 col-md-5 col-lg-5">
                
                <h4 class="textjusti">Colaboradores &nbsp;<a href="{{path('pc_admin_jornada_censo_addcollaborator', {'meetingId' : meeting.id} )}}" id="ventcolaborator" type="button" class="btn btn-default">
               <span class="coloralert glyphicon glyphicon-plus-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Agregar colaboradores"></span>
               </a>
             </h4>
                  <table class="table table-hove">
                     <tr>
                      <th>Nombre</th>
                      <th>Dirección</th>
                      <th>Telefono</th>
                     </tr>
                    
                    {% for census_collaborator in census_collaborators %}
                    <tr>
                      <td>{{ census_collaborator.collaborator.name }}</td>
                      <td>{{ census_collaborator.collaborator.address }}</td>
                      <td>{{ census_collaborator.collaborator.phone }}</td>
                    </tr>
                    {% endfor %}
                    
                  </table>

              </div> 
              
              <div class="col-md-1 col-lg-1"></div>
            </div> <!-- div row-->
            <hr>
             <table class="tabl table-striped">
              <thead>
                <tr><td class="pest" colspan="3">información del Animal</td>
                  <td colspan="3"></td>
                  <td  class="pest" colspan="3">informacion responsable</td>
                </tr>
                <tr class="tdb">
                  <th class="tdmd">Clasificación</th>
                  <th class="tdd">Rasgo</th>
                  <th class="tdd">Color</th>
                  <th class="tdmd">edad</th>
                  <th class="tdxs">¿cirugia?</th>
                  <th class="tdxs">Edit</th>
                  <th class="tdd bord">Nombre</th>
                  <th class="tdd">Telefono</th>
                  <th class="tdxs">Mas</th>
                </tr>
              </thead>
              <tbody class="tdb">
                {% for census in censuses %}
                <tr>
                  <td>
                    {% if census.pet.gender == 'MALE' %}
                              
                      macho
                              
                      {% elseif census.pet.gender == 'FEMALE' %}
                              
                      hembra
                      
                    {%endif%}
                  </td>
                  <td class="tdd">{{ census.pet.race }}</td>
                  <td>{{ census.pet.colour }}</td>
                  <td>{{ census.pet.age }}</td>
                  <td>
                    {% if census.isNeedSurgery == '0' %}
                              
                      <strong>NO</strong>
                              
                      {% elseif census.isNeedSurgery == '1' %}
                              
                      <strong>SI</strong>
                      
                    {%endif%}
                  </td>
                  <td><a href="{{ path('pc_admin_jornada_censo_agregar', {'meetingId' : meeting.id} )}}" data-toggle="tooltip" data-placement="right" title="Editar información">&nbsp;<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></a></td>
                  <td class="bord">{{ census.user.name }}</td>
                  <td>{{ census.user.phone_number }}</td>
                  <td><a href="" data-toggle="modal" data-target="#censuuser{{census.user.id}}">&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></a>

                  <div class="modal fade bs-example-modal-sm"id="censuuser{{census.user.id}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                  
                        <div class="timod modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                          <h5 class="modal-title" id="exampleModalLabel">Información de responsable<span class="btn-lg glyphicon glyphicon-user" aria-hidden="true"></span></h5>
                        </div>

                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="recipient-name" class="textjusti control-label">Nombre:</label>
                              <input type="text" class="form-control" id="recipient-name"
                              value="{{ census.user.name }}" disabled>
                            </div>
    
                            <div class="form-group">
                              <label for="recipient-name" class="textjusti control-label">Edad:</label>
                              <input type="text" class="form-control" id="recipient-name"
                              value="{{ census.user.age }}" disabled>
                            </div>
                            
                            <div class="form-group">
                              <label for="recipient-name" class="textjusti control-label">Dirección:</label>
                              <input type="text" class="form-control" id="recipient-name"
                              value="{{ census.user.address }}" disabled>
                            </div>
    
                            <div class="form-group">
                              <label for="recipient-name" class="textjusti control-label">Telefono:</label>
                              <input type="text" class="form-control" id="recipient-name"
                              value="{{ census.user.phone_number }}" disabled>
                            </div>
                          </form>
                        </div>
                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div> <!-- div close section estile-->
        </div>
{% endblock %}
