{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block capa %}

	<h1 class="coloralert"><a href="{{ path('pc_admin_jornada_esterilizacion')}}" type="button" class="pull-left buttonborder btn btn-default"> <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>&nbsp;regresar</a> &nbsp;Esterilización</h1><hr>
	<div class="sectionstile">
		<div class="row">
			<div class="col-md-1">
					<label class="marginlabel">Zona:</label>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" value="{{ meeting.address }}" disabled>
			</div>
			<div class="col-md-1">
					<label class="marginlabel">Fecha:</label>
			</div>
			<div class="col-md-3">
				<input type="text" class="form-control" value="{{ controlAt }}" disabled>
			</div>
			<div class="col-md-1"><label class="marginlabel">Costo:</label></div>
			<div class="col-md-3"><input type="text" class="form-control" value="${{ amount }}" disabled>
			</div>

		</div>
		<hr>
           <h4 class="podingtitle1">Mascotas en espera</h4>
           <table class="tabl table-striped">
              <thead>
                <tr class="tdb">
                  <th>Nombre mascota</th>
                  <th>Especie</th>
                  <th>Raza</th>
                  <th>Color</th>
                  <th class="tdxs">Edad</th>
                  <th class="tdxs">¿esterilizada?</th>
                  <th class="tdxs">responsable</th>
                  <th class="tdxs">operación</th>
                  
                </tr>
              </thead>
              <tbody class="tdb">
                {% for sterilization in sterilizations %}
                {% if sterilization.pet.isSterilized == '0' %}
                <tr>
                 
                  <td>{{ sterilization.pet.name }}</td>
                  <td>
                    {% if sterilization.pet.species == 'CANINE' %}
                                    
                    <strong>canino</strong>
                          
                    {% elseif sterilization.pet.species == 'FELINE' %}
                          
                    <strong>felino</strong>
                  
                    {%endif%}
                  </td>
                  <td>{{ sterilization.pet.race }}</td>
                  <td>{{ sterilization.pet.colour }}</td>
                  <td class="text-center">{{ sterilization.pet.age }}</td>
                  <td class="text-center">
                    {% if sterilization.pet.isSterilized == '0' %}
                              
                      <strong>NO</strong>
                              
                      {% elseif sterilization.pet.isSterilized == '1' %}
                              
                      <strong>SI</strong>
                      
                    {%endif%}
                  </td>
                  <td class="text-center"><a href="" data-toggle="modal" data-target="#myModa{{ sterilization.user.id }}">&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></a>
                    <div class="modal fade bs-example-modal-sm" id="myModa{{ sterilization.user.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                  
                          <div class="timod modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            <h5 class="modal-title" id="exampleModalLabel">Información de responsable<span class="btn-lg glyphicon glyphicon-user" aria-hidden="true"></span></h5>
                          </div>

                          <div class="modal-body">
                            <form>
                              <div class="form-group">
                                <label for="recipient-name" class="control-label">Nombre:</label>
                                <input type="text" class="form-control" id="recipient-name"
                                value="{{ sterilization.user.name }}&nbsp;{{ sterilization.user.lastName }}" disabled>
                              </div>
      
                              <div class="form-group">
                                <label for="recipient-name" class="control-label">Edad:</label>
                                <input type="text" class="form-control" id="recipient-name"
                                value="{{ sterilization.user.age }}" disabled>
                              </div>
                              
                              <div class="form-group">
                                <label for="recipient-name" class="control-label">Dirección:</label>
                                <input type="text" class="form-control" id="recipient-name"
                                value="{{ sterilization.user.address }}" disabled>
                              </div>
      
                              <div class="form-group">
                                <label for="recipient-name" class="control-label">Telefono:</label>
                                <input type="text" class="form-control" id="recipient-name"
                                value="{{ sterilization.user.phoneNumber }}" disabled>
                              </div>
                              
                              <div class="form-group">
                                <label for="recipient-name" class="control-label">Correo:</label>
                                <input type="text" class="form-control" id="recipient-name"
                                value="{{ sterilization.user.email }}" disabled>
                              </div>
                            </form>
                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center"><a class="colorok btn btn-default" ta-toggle="tooltip" href="{{ path('pc_admin_esterilizacion_update_list',{'petId':sterilization.pet.id,'meetingId' : meeting.id, 'controlAt' : controlAt, 'amount' : amount} ) }}" data-placement="top" title="se esterilizo"><span class="glyphicon glyphicon-ok" aria-hidden="true"></a></td>
                </tr>
            {% endif %}
            {% endfor %}
              </tbody>
            </table>
            <br>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="margnone panel panel-default">
            <div class="paddinnot panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#controlOne" aria-expanded="false" aria-controls="collapseOne">
                    <h4 class="podingtitle1">Mascotas esterilizadas</h4>
                </a>
              </h4>
            </div>
            <div id="controlOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
              <table class="tabl table-striped">
                     <thead>
                        <tr class="tdb">
                          <th>Nombre mascota</th>
                          <th>Especie</th>
                          <th>Raza</th>
                          <th>Color</th>
                          <th class="tdxs">Edad</th>
                          <th class="tdxs">¿esterilizada?</th>
                          <th class="tdxs">responsable</th>
                          <th class="tdxs">operación</th>
                          
                        </tr>
                      </thead>
                      <tbody class="tdb">
                        
                        {% for sterilization in sterilizations %}
                        {% if sterilization.pet.isSterilized == "1" %}
                        <tr>
                          <td>{{ sterilization.pet.name }}</td>
                          <td>
                            {% if sterilization.pet.species == 'CANINE' %}
                                  
                            <strong>canino</strong>
                                  
                            {% elseif sterilization.pet.species == 'FELINE' %}
                                  
                            <strong>felino</strong>
                          
                            {%endif%}
                          </td>
                          <td>{{ sterilization.pet.race }}</td>
                          <td>{{ sterilization.pet.colour }}</td>
                          <td class="text-center">{{ sterilization.pet.age }}</td>
                          <td class="text-center">
                            {% if sterilization.pet.isSterilized == '0' %}
                                  
                            <strong>NO</strong>
                                  
                            {% elseif sterilization.pet.isSterilized == '1' %}
                                  
                            <strong>SI</strong>
                          
                            {%endif%}
                          </td>
                          
                          <td class="text-center"><a href="" data-toggle="modal" data-target="#myModa{{ sterilization.user.id }}">&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></a>
        
                            <div class="modal fade bs-example-modal-sm" id="myModa{{ sterilization.user.id }}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          
                          <div class="timod modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            <h5 class="modal-title" id="exampleModalLabel">Información de responsable<span class="btn-lg glyphicon glyphicon-user" aria-hidden="true"></span></h5>
                          </div>
        
                           <div class="modal-body">
                              <form>
                                <div class="form-group">
                                  <label for="recipient-name" class="control-label">Nombre:</label>
                                  <input type="text" class="form-control" id="recipient-name"
                                  value="{{ sterilization.user.name }}&nbsp;{{ sterilization.user.lastName }}" disabled>
                                </div>
        
                                <div class="form-group">
                                  <label for="recipient-name" class="control-label">Edad:</label>
                                  <input type="text" class="form-control" id="recipient-name"
                                  value="{{ sterilization.user.age }}" disabled>
                                </div>
                                <div class="form-group">
                                  <label for="recipient-name" class="control-label">Dirección:</label>
                                  <input type="text" class="form-control" id="recipient-name"
                                  value="{{ sterilization.user.address }}" disabled>
                                </div>
        
                                <div class="form-group">
                                  <label for="recipient-name" class="control-label">Telefono:</label>
                                  <input type="text" class="form-control" id="recipient-name"
                                  value="{{ sterilization.user.phoneNumber }}" disabled>
                                </div>
                                
                                <div class="form-group">
                                  <label for="recipient-name" class="control-label">Correo:</label>
                                  <input type="text" class="form-control" id="recipient-name"
                                  value="{{ sterilization.user.email }}" disabled>
                                </div>
                              </form>
                            </div>
        
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                      </div>
                      </div>
                    </div>
        
                          </td>
                          <td class="text-center"><a class="coloremuve btn btn-default" href="{{ path('pc_admin_esterilizacion_update_list',{'petId':sterilization.pet.id, 'meetingId' : meeting.id, 'controlAt' : controlAt, 'amount' : amount} ) }}" ta-toggle="tooltip" data-placement="top" title="no se esterilizo"><span class="glyphicon glyphicon-remove" aria-hidden="true"></a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        
                        
                      </tbody>
                    </table> 
        
                </div><!--panel-body close-->
              </div>
            </div>
  
	</div><!-- div sectionstile close -->

{% endblock %}