{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{%block title%}jornada esterilizacion add{% endblock %}
{% block body %}

	<div class="liner"></div>

	<div class="container">
		<h2 class="titulosection">Nueva jornada de esterilización <span class="btn-lg glyphicon glyphicon-edit" aria-hidden="true"></span></h2>
		<hr>
		<br>
		<div class="form-group">
			
			{{ form_start(form, {'attr' : {'role' : 'form'} }) }}
			<div class="row">
				<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel textjusti" for="Zona">Zona:</label>
				</div>
				<div class="col-xs-9 col-md-4">
					{{form_widget(form.address, {'attr' : {'class' : 'form-control', 'value' : meeting.address, 'disabled' : 'disabled' } })}}
				</div>
			</div>
			<div class="row" style="display: none;">
				<div class="col-xs-9 col-md-4" style="display: none;">
					{{form_widget(form.meetingId, {'attr' : {'class' : 'form-control', 'value' : meeting.id } })}}
				</div>
			</div>

			<div class="row">
				<br>
				<div class="col-xs-3 col-md-2 textjusti">
					<label class="marginlabel"  for="Fecha jornda">Fecha: </label>
				</div>
				<div class="col-xs-9 col-md-4">
					{{form_widget(form.control_at)}}
				</div>
				<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel"  for="Costo jornada">Costo estimado por mascota:</label>
				</div>
				<div class="col-xs-9 col-md-4">
					{{form_widget(form.amount, {'attr' : {'class' : 'form-control', 'placeholder' : 'costo promedio estimado por mascota' } })}}
					<br>
				</div>
			</div>
			<hr>
			{{ form_widget(form.save, {'label' : 'Continuar', 'attr' : {'class' : 'btn btn-success'} }) }}
			
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}