{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block body %}

	<div class="liner"></div>
	<br>
	<div class="container">
		<h2 class="titulosection margnone">Editar Evento<span class="btn-lg glyphicon glyphicon-edit" aria-hidden="true"></span></h2>
		<hr>
		<br>
		{{ form_start(form, {'attr' : {'role' : 'form'} }) }}
		<div class="form-group">
			<div class="row">
				<div class="col-xs-3 col-md-2 textjusti">
					<label class="marginlabel"  for="Nombre del adoptante">Titulo: </label>
				</div>
				<div class="col-xs-9 col-md-4">
					{{form_widget(form.name, {'attr' : {'class' : 'form-control', 'placeholder' : 'nombre del evento' } })}}
					<div  class="logaler alert-danger" id="age-error"></div><br>
				</div>
				<br>
				<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel textjusti"  for="Apellidos del adoptante">Lugar:</label>
				</div>
				<div class="col-xs-9 col-md-4">
					{{form_widget(form.address, {'attr' : {'class' : 'form-control', 'placeholder' : 'dirección del evento' } })}}
					<div  class="logaler alert-danger" id="last_name-error"></div>
				</div>
			</div>

			<div class="row">
				<br>
				<div class="col-xs-3 col-md-2 textjusti">
					<label class="marginlabel"  for="Nombre del adoptante">Fecha: </label>
				</div>
				<div class="col-xs-9 col-md-4">
					{{form_widget(form.dateAt)}}
					<div  class="logaler alert-danger" id="age-error"></div><br>
				</div>
				<div class="textjusti col-xs-3 col-md-2">
					<label class="marginlabel"  for="Edad del adoptante">Descripcion:</label>
				</div>
				<div class="col-xs-9 col-md-4">
					{{form_widget(form.description, {'attr' : {'class' : 'form-control', 'placeholder' : 'breve descripción del evento y la hora del mismo.' } })}}
				</div>
			</div>
			<hr>
			{{ form_widget(form.save, {'label' : 'editar', 'attr' : {'class' : 'btn btn-danger'} }) }}
			<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="window.close();">cancelar</button>
		</div>
		{{ form_end(form) }}

	</div>
{% endblock %}