{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block capa %}
  <div>
	<h1 class="coloralert">Jornadas censo</h1>
              <div class="sectionstile">
              <div class="row">
              <div class="textjusti col-xs-4 col-md-8 col-lg-8">
                <a  type="button" class="btn btn-info" href="{{ path('pc_admin_jornada_censo_add')}}" id="nuevajornadacenso" >Crear nueva Jornada</a>
              </div>
              <div class="col-xs-8 col-md-4 col-lg-4">
                <div class="input-group">
                  <input type="text" class="form-control" aria-label="Text input with segmented button dropdown" placeholder="Zona:" id="searchtipe">
                  <div class="input-group-btn"> 
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button> 
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                      <span class="caret"></span> 
                      <span class="sr-only">Toggle Dropdown</span> 
                    </button> 
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="" name="z">Zona</a></li> 
                      <li><a href="" name="f">Fecha</a></li> 
                      <li><a href=""name="c" >Colaborador</a></li> 
                      
                    </ul> 
                  </div> <!-- div btn-input-group -->
                </div> <!-- div input-group -->
              </div> <!-- div div responsive -->
            </div> <!-- div row-->
            <br>
           <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Zona</th>
                  <th>Fecha de realización</th>
                  <th>Colaboradores</th>
                  <th>mas</th>
                </tr>
              </thead>
              <tbody>
                  {% for meeting in meetings %}
                      <tr>
                          <td>{{ meeting.id }}</td>
                          <td>{{ meeting.address }}</td>
                          <td>{{ meeting.createdAt | date('d-m-Y h:i')  }}</td>
                          <td>
                            {% if meeting.meetingType == 'CENSUS'%}
                              
                              <strong>censo</strong>
                              
                              {% elseif meeting.meetingType == 'STERILIZATION'%}
                              
                              <strong>esterilización</strong>
                              
                            {%endif%}
                          </td>
                          <td><a href="{{ path('pc_admin_jornada_censo_mas', {'meetingId' : meeting.id })}}" id="censomas">&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></a></td>
                      </tr>
                  {% endfor %}              
              </tbody>
            </table>
          </div><!--div close sectionstile-->
          </div><!--div container-->
{% endblock %}
