{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block body %}

	<div class="liner"></div>
	<br>
	<div class="container">
		
		<h1 class="coloralert">&nbsp; Crear nuevo censo </h1>
		<hr>
		{{ form_start(form, {'attr' : {'role' : 'form'} }) }}
			<div class="row">
			
				<div class="col-xs-3 col-md-2 textjusti">
					<label class="textjusti"><h5>Zona:</h5></label>
				</div>
				<div class="col-xs-9 col-md-4">
					{{form_widget(form.address, {'attr' : {'class' : 'form-control', 'placeholder' : 'dirección o lugar de la jornada' } })}}
				</div>
				<div class="textjusti col-xs-3 col-md-2">
					<label class="textjusti" for="Fecha"><h5>Fecha:</h5></label>
				</div>
				<div class="col-xs-9 col-md-4">
				 {{form_widget(form.createdAt, {'attr': {'id': 'fecha1' } })}}
				</div>
			</div>
			<div class="row" style="display: none;">
				<div class="col-xs-3 col-md-2 textjusti" style="display: none;">
					<label for="Fecha" style="display: none;"><h5 style="display: none;">tipo de jornada:</h5></label>
				</div>
				<div class="col-xs-9 col-md-4" style="display: none;">
				 {{form_widget(form.meetingType, {'attr' : {'class' : 'form-control', 'placeholder' : 'tipo de jornada', 'value' : 'CENSUS', "style" : "display: none;" } })}}
				</div>
				</div><hr>
				
			</div><br> <!-- div close row-->
			{{ form_widget(form.save, {'label' : 'registrar', 'attr' : {'class' : 'btn btn-success'} }) }}
			{{ form_end(form) }}
		
		
	</div>
	
{% endblock %}
