{% extends "layout.html.twig" %}
{% block scroll_nav %}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<img class="posrigth img-responsive" src="{{ asset('public/img/logo.png') }}" alt="logo">
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="liner"></div>
	<div class="row">
		<div class="col-xs-1 col-md-1"></div>
		<div class=" col-xs-10 col-md-10">
			<br>
			{{ form_start(form, {'attr' : {'role' : 'form'} }) }}
			<div class="form-group">
				<h4 class="textjusti"><b>Datos de la mascota</b></h4>
				<div class="textjusti sectionstile">
					<div class="row">
						<div class="col-xs-2 col-md-1">
							<label>Nombre:</label>
						</div>
						<div class="col-xs-10 col-md-5">
							{{form_widget(form.name, {'attr' : {'class' : 'form-control', 'placeholder' : 'nombre de la mascota' } })}}
						</div>
					</div>
					<div class="row">
						<br>
						<div class="col-xs-2 col-md-1">
							<label>Edad:</label>
						</div>
						<div class="col-xs-10 col-md-5">
							{{form_widget(form.age, {'attr' : {'class' : 'form-control', 'placeholder' : 'edad de la mascota' } })}}
						</div>
					</div>
					<div class="row">
						<br>
						<div class="col-xs-2 col-md-1">
							<label>Especie: </label>
						</div>
						<div class="col-xs-10 col-md-5">
							{{form_widget(form.species, {'attr' : {'class' : 'form-control', 'placeholder' : '¿canino o felino?' } })}}
						</div>
					</div>
					<div class="row">
						<br>
						<div class="col-xs-2 col-md-1">
							<label>Raza:</label>
						</div>
						<div class="col-xs-10 col-md-5">
							{{form_widget(form.race, {'attr' : {'class' : 'form-control', 'placeholder' : 'a que raza pertenece?' } })}}
						</div>
					</div>
					<div class="row">
						<br>
						<div class="col-xs-2 col-md-1">
							<label>Color: </label>
						</div>
						<div class="col-xs-10 col-md-5">
							{{form_widget(form.colour, {'attr' : {'class' : 'form-control', 'placeholder' : 'color de la mascota' } })}}
						</div>
					</div>	
					<div class="row">
						<br>
						<div class="col-xs-2 col-md-1">
							<label>Género:</label>
						</div>
						<div class="col-xs-10 col-md-5">
							{{form_widget(form.gender, {'attr' : {'class' : 'form-control', 'placeholder' : '¿macho o hembra?' } })}}
						</div>
					</div>
					<div class="row">
						<br>
						<div class="col-xs-2 col-md-1">
							<label>¿está vacunad@? </label>
						</div>
						<div class="col-xs-4 col-md-5">
							{{form_widget(form.isVacunated, {'attr' : {'class' : 'form-control'} })}}
						</div>
				
						<br>
						<div class="col-xs-2 col-md-1">
							<label>¿está esterilizad@? </label>
						</div>
						<div class="col-xs-4 col-md-5">
							{{form_widget(form.isSterilized, {'attr' : {'class' : 'form-control'} })}}
						</div>
					</div>
					<div class="row">
						<br>
						<div class="col-xs-2 col-md-1">
							<label>fecha de nacimiento </label>
						</div>
						<div class="col-xs-10 col-md-5">
							{{form_widget(form.birthdate, {'attr' : {'class' : 'form-control', 'placeholder' : 'fecha de nacimiento de la mascota' } })}}
						</div>
					</div>
				</div>
				{{ form_widget(form.save, {'label' : 'continuar proceso', 'attr' : {'class' : 'btn btn-success'} }) }}
			</div>
			{{ form_end(form) }}
		</div>
		<div class="col-xs-1 col-md-1"></div>
	</div>

{% endblock %}

{% block scripts %}
	<!-- Librería jQuery requerida por los plugins de JavaScript -->
	<script src="{{ asset('public/js/jquery-2.1.1.min.js') }}" ></script>
	<!-- toda las funciones personalizadas-->
	<script src="{{ asset('public/js/functJquery.js') }}"></script>
{% endblock %}

{% block footer %}
{% endblock %}

