{% extends "PCFundationBundle:Admin:admin.html.twig"%}
{% block capa %}
	<div>
		
			<h1 class="coloralert">Solicitudes de Adopción</h1><hr>
			<br>
		<div class="sectionsile">
			
			 <table class="tabl table-striped">
              <thead>
                <tr><td class="pest" colspan="3">Adoptante</td>
                </tr>
                <tr class="tdb">
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th class="tdxs">Edad</th>
                  <th>Cedula</th>
                  <th>Telefono</th>
                  <th>Dirección</th>
                  <th>Correo</th>
                  <th class="bdleft tdxs">responder</th>
                </tr>
              </thead>
              <tbody class="tdb">
              {% for user in users %}
              <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.age }}</td>
                  <td>{{ user.identificationNumber }}</td>
                  <td>{{ user.phone_number }}</td>
                  <td>{{ user.address }}</td>
                  <td>{{ user.email }}</td>                  
                  <td class="bdlef"><a href="{{path('pc_admin_pet_solicitudes_date', {'userId' : user.id })}}" id="vermas" data-toggle="tooltip" data-placement="right" title="ver datos"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></td>
              </tr>
              {% endfor%}
              </tbody>
            </table>

			
		</div><!--div close sectionstile 2 -->
	</div>
	
{% endblock %}